# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*~

# Backups temporários
*.bak

# Diretórios de cache
.cache/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários do FUSE
.fuse_hidden*
# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
